/* ESTILO GERAL */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    /* COLORS */
    --laranja01: #FF8800;
    --laranja02: #F6820A;
    --laranja03: #C66300;
    --preto01:   #071013;
    --preto02:   #292827;
    --preto03:   #333333;

    /* FONTS */
    --fonte-destaque: "Berkshire Swash", serif;
    --fonte-conteudo: "Josefin Sans", sans-serif;
    --fonte-conteudo2: "Montserrat", sans-serif;
}

body {
    height: 100vh;   
}

.limite {
    max-width: 1280px;
    margin: 0 auto;
}

.limite2 {
    max-width: 1480px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
    font-family: var(--fonte-conteudo);
    transition: .2s;
}

p, span {
    font-family: var(--fonte-conteudo);
}

li {
    list-style: none;
}

h1, h2 {
    font-family: var(--fonte-destaque);
}

h2 {
    color: var(--laranja03);
}

.marca-texto {
    color: var(--laranja02);
}

.separador {
    display: none;
    border-top: 1px solid var(--laranja03);
    width: 100%;
}

button {
    border: 0;
    border-radius: 30px;
    padding: 12px 30px;
    cursor: pointer;
    transition: .2s;
    font-family: var(--fonte-conteudo);
    color: #FFF;
    background-color: var(--laranja01);
    
}

button:hover {
    background-color: var(--laranja03);
    transform: scale(1.1);
}

@keyframes btnPulsar {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

section .limite,
section .flex {
    position: relative;
    z-index: 1;
}

footer .limite,
footer .flex {
    position: relative;
    z-index: 1;
}

/* ESTILO HEADER */
header {
    padding: 25px 4%;
}

header > .limite {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    display: inline-block;
    color: var(--preto02);
}

header nav.menu-desktop {
    display: flex;
    align-items: center;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 25px;
}

.menu-desktop a {
    font-size: 18px;
}

.menu-desktop a:hover {
    color: var(--laranja01);
}

.menu-desktop .btn-contato button {
    font-size: 18px;
}


/* ESTILO HERO */

section.hero {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 400px 4%;
    height: 900px;
    background: url(assets/imgs/07/pizzaria-hero-fundo01.jpg) fixed no-repeat;
    background-size: cover;
}



section.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.61);
    z-index: 0;
}

section.hero .flex {
    flex-direction: column;
    align-items: center;
    gap: 40px;
}


.hero .hero-txt h1 {
    font-size: 100px;
    text-align: center;
    font-weight: 500;
    color: #FFF;
    margin-bottom: 40px;
}

.hero .hero-txt h2 {
    font-size: 35px;
    font-family: var(--fonte-conteudo);
    font-weight: 500;
    text-align: center;
    color: var(--laranja01);
    margin-bottom: 40px;
}

.hero p {
    font-size: 30px;
    font-family: var(--fonte-conteudo);
    font-weight: 200;
    font-style: italic;
    text-align: center;
    color: #FFF;
}

/* ESTILO BEM-VINDO */

section.bem-vindo {
    padding: 50px 4%;
    position: relative;
    background: url(assets/imgs/07/folha-fundo-02.jpg) no-repeat;
    background-size: cover;
}

section.bem-vindo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.726);
    z-index: 0;
}

section.bem-vindo .flex {
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.bem-vindo .bv-txt {
    /* width: 100%; */
    width: 400px;
    padding: 15px 10px;
}

.bem-vindo .bv-txt span {  
    font-size: 18px;
    font-weight: 600;
}

.bem-vindo .bv-txt h2 {
    color: var(--laranja03);
    font-size: 70px;
    font-weight: 500;
    padding: 20px 0 10px 0;
}

.bem-vindo .bv-txt .bv-info-txt {
    font-size: 36px;
    font-weight: 600;
    color: #000;
}

.bem-vindo .bv-txt .bv-desc-txt {
    font-size: 18px;
    text-align: justify;
    color: var(--preto02);
    padding: 20px 0 60px 0;
}

.bv-txt button {
    background-color: var(--preto01);
    font-size: 18px;
    padding: 17px 60px;
    transition: .3s;
}

.bv-txt button:hover {
    background-color: var(--laranja01);
    animation: btnPulsar .8s infinite alternate;
}

.bv-txt button i {
    margin-left: -35px;
}

.bem-vindo .bv-img1 img {
    width: 100%;
    max-width: 400px;
}

.bem-vindo .bv-img2.flex {
    justify-content: center;
    align-items: flex-end;
    color: #FFF;
    text-align: center;
    position: relative;
    background: url('assets/imgs/07/restaurante02.jpg') center;
    background-size: cover;
    height: 620px;
    width: 390px;
}

.bem-vindo .bv-img2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.151);
}

.txt-bv-img2 h3{
    font-family: var(--fonte-destaque);
    font-weight: 500;
    font-size: 36px;
}

.txt-bv-img2 p {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 40px;
}

/* ESTILO CARDÁPIO */

section.cardapio {
    padding: 100px 4%;
    background-color: #fffaf2;
}

section.cardapio .flex {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 70px;
    gap: 25px 20px;
}

.cardapio .txt-cardapio {
    text-align: center;
}

.cardapio .txt-cardapio h2 {
    font-size: 50px;
    font-weight: 500;
    padding: 0 0 10px 0;
}

.cardapio .txt-cardapio p {
    font-size: 27px;
    font-weight: 700;
}

.img-cardapio {
    width: 260px;
    height: 290px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border-radius: 30px;
    position: relative;
    transition: .2s;
}

.img-cardapio:hover {
    width: 360px;
    transform: scale(1.1);
}

.overlay-cardapio {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000009c;
    border-radius: 30px;
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .6s;
    font-family: var(--fonte-conteudo);
}

.overlay-cardapio:hover {
    opacity: 1;
}

.cardapio .btn-cardapio {
    text-align: center; 
    margin-top: 100px;
}

.cardapio .btn-cardapio button {
    font-size: 16px;
    padding: 18px 50px;
}

.cardapio .btn-cardapio button:hover {
    animation: btnPulsar .8s infinite alternate;
}

/* ESTILO PROMOCAO */

section.promocao {
    padding: 120px 4%;
    position: relative;
    background: url(assets/imgs/07/folha-fundo-02.jpg) no-repeat;
    background-size: cover;
}

section.promocao::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.726);
    z-index: 0;
}

section.promocao .flex {
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.promocao .img-promo {
    width: 60%;
    max-width: 600px;
}

.promocao .img-promo img {
    width: 100%;
    border-radius: 10px;
}

.promocao .txt-promo {
    text-align: center;
    width: 500px
}

.promocao .txt-promo .icon-vinho {
    display: block;
    font-size: 30px;
    color: #b12677;
}

.promocao .txt-promo span {
    font-size: 17px;
    padding-bottom: 20px;
}

.promocao .txt-promo h2 {
    font-size: 50px;
    font-weight: 500;
    padding-bottom: 30px;
}

.promocao .txt-promo p {
    font-size: 23px;
    color: var(--preto02);
    padding-bottom: 40px;
}

.promocao .txt-promo p span {
    font-size: 23px;
    font-weight: 700;
}

.promocao .txt-promo button {
    font-size: 16px;
    font-weight: 500;
    padding: 17px 60px;
}

.promocao .txt-promo button:hover {
    animation: btnPulsar .8s infinite alternate;
}

.promocao .txt-promo button i {
    margin-left: 10px;
}

/* ESTILO DEPOIMENTOS */
section.depoimentos {
    padding: 100px 4%;
}

section.depoimentos .flex {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    padding: 0 50px;
}

.depoimentos .aspas-depoimentos {
    width: 50%;
    text-align: center;
}

.depoimentos .aspas-depoimentos img {
    width: 100%;
    max-width: 260px;
    opacity: .3;
    padding: 0 0 60px 0;
}

.depoimentos .aspas-depoimentos h3 {
    font-size: 40px;
    font-family: var(--fonte-destaque);
    font-weight: 500;
    color: var(--laranja03);
}

.depoimentos .box-depoimento {
    width: 50%;
    text-align: center;
}

.box-depoimento img {
    width: 100%;
    max-width: 110px;
    border-radius: 50%;
}

.box-depoimento p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    padding: 10px 0 20px 0;
    color: var(--preto03);
}

.box-depoimento span {
    display: block;
}

.box-depoimento .nome-pessoa {
    font-size: 20px;
    color: var(--preto03);
    padding: 0 0 5px 0;
}

.box-depoimento .empresa-pessoa {
    font-size: 15px;
    color: #888888;
}

/* ESTILO FOOTER 1 */

footer.footer1 {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 400px 4%;
    height: 800px;
    background: url(assets/imgs/07/pizzaria-hero-fundo02.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

footer.footer1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.863);
    z-index: 0;
}

footer.footer1 .flex {
    flex-direction: column;
}

.footer1 i {
    color: var(--laranja02);
    font-size: 60px;
    padding-bottom: 40px;
}

.footer1 h3 {
    font-family: var(--fonte-destaque);
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #FFF;
}

.footer1 p {
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    color: #FFF;
}

/* ESTILO FOOTER 2 */

footer.footer2 {
    padding: 20px 4%;
    text-align: center;
    background-color: var(--preto02);
    font-weight: 400;
    font-size: 18px;
    color: #FFF;
}

footer.footer2 a {
    text-decoration: underline;
}


/* MEDIAS */

@media screen and (max-width: 1020px) {
    /* GERAL */
    .flex {
        flex-direction: column;
    }
    
    .separador {
        display: block;
    }
    
    /* ESTILO HEADER */
    header {
        padding: 25px 8%;
    }

    /* ESTILO HERO */
    section.hero {
        padding: 400px 8%;
    }
    /* ESTILO BEM-VINDO */
    
    section.bem-vindo {
        padding: 50px 8%;
        background-image: none;
    }
    
    .bem-vindo .bv-txt span {
        font-size: 20px;
    }

    .bem-vindo .bv-txt .bv-desc-txt {
        font-size: 21px;
    }

    .bv-txt button {
        flex-direction: row;
        font-size: 18px;
        padding: 20px 50px;
    }
    
    .bv-img1 {
        display: none;
    }

    .bem-vindo .bv-img2.flex {
        align-items: center;
        justify-content: flex-end;
    }

    /* ESTILO CARDÁPIO */

    section.cardapio {
        padding: 100px 8%;
    }

    section.cardapio .flex {
        align-items: center;
    }

    .img-cardapio {
        width: 360px;
        height: 290px;
    }
    
    .img-cardapio:hover {
        width: 370px;
        transform: scale(1.1);
    }

    /* ESTILO PROMOCAO */
    section.promocao {
        padding: 120px 8%;
        background-image: none;
    }
  
    .promocao .img-promo {
        width: 100%;
    }
    
    .promocao .txt-promo {
        width: 100%
    }
    
    .promocao .txt-promo .icon-vinho {
        font-size: 30px;
    }
    
    .promocao .txt-promo span {
        font-size: 20px;
    }
    
    .promocao .txt-promo h2 {
        font-size: 60px;
        padding: 10px 0 35px 0;
    }
    
    .promocao .txt-promo p {
        font-size: 25px;
    }
    
    .promocao .txt-promo button {
        padding: 19px 80px;
    }
    
    .promocao .txt-promo button:hover {
        animation: btnPulsar .8s infinite alternate;
    }
    
    .promocao .txt-promo button i {
        margin-left: 10px;
    }

    /* ESTILO DEPOIMENTO */
    section.depoimentos {
        padding: 100px 8%;
    }
    
    section.depoimentos .flex {
        justify-content: center;
        flex-direction: row;
    }

    .depoimentos .aspas-depoimentos {
        width: 100%;
    }
        
    .depoimentos .aspas-depoimentos h3 {
        font-size: 50px;
    }
    
    .depoimentos .box-depoimento {
        width: 100%;
    }
    
    .box-depoimento p {
        font-size: 21px;
    }
    
    .box-depoimento span {
        display: block;
    }
    
    .box-depoimento .nome-pessoa {
        font-size: 22px;
    }
    
    .box-depoimento .empresa-pessoa {
        font-size: 17px;
    }

    /* ESTILO FOOTERS */
    footer.footer1 {
        padding: 400px 8%;
    }

    .footer1 i {
        font-size: 60px;
        padding-bottom: 40px;
    }
    
    .footer1 h3 {
        font-size: 30px;
        letter-spacing: 2px;
    }
    
    .footer1 p {
        font-size: 60px;
        font-weight: 700;
        line-height: 80px;
    }

    footer.footer2 {
        padding: 20px 8%;
        font-size: 16px;
    }
}