.limite {
    max-width: 1280px;
    margin: 0 auto;
}

.limite2 {
    max-width: 1480px;
}



/* ESTILO HEADER */
header {
    padding: 25px 4%;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #FFF;
    padding: 15px 4%;
}

header > .limite {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    display: inline-block;
    color: var(--preto02);
}

header .menu-desktop {
    display: flex;
    align-items: center;
}

header .menu-desktop ul li {
    display: inline-block;
    padding: 0 25px;
}

.menu-desktop a {
    font-size: 18px;
}

.menu-desktop a:hover {
    color: var(--laranja01);
}

.menu-desktop .btn-contato button {
    font-size: 18px;
}

/* MENU MOBILE */

.btn-abrir-menu i {
    display: none;
    color: var(--cor01);
    font-size: 40px;
}

.menu-mobile {
    background-color: var(--laranja01);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    width: 0%;
    transition: .3s;
    overflow: hidden;
    border-radius: 90px 0 0 1200px;
}

.menu-mobile.abrir-menu {
    width: 60%;
}

.menu-mobile.abrir-menu~.overlay-menu {
    display: block;
}

.menu-mobile .btn-fechar i {
    color: #000;
    font-size: 30px;
}

.menu-mobile .btn-fechar {
    padding: 20px 5%;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    display: block;
    padding: 20px 8%;
    color: #000;
    font-size: 20px;
    font-weight: 500;
}

.menu-mobile nav ul li a:hover {
    background-color: var(--laranja03);
}

.overlay-menu {
    background-color: #000000c9;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
}

/* HERO */

section.hero-quem-somos {
    display: flex;
    margin-top: 74px;
    position: relative;
    align-items: center;
    padding: 200px 4%;
    height: 700px;
    background: url('../assets/imgs/10/bg-quem-somos.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

section.hero-quem-somos::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.678);
    z-index: 1;
}

section.hero-quem-somos>.limite {
    width: 1280px;
    margin: 0 auto;
}

section.hero-quem-somos .flex {
    flex-direction: column;
}

.hero-txt h1 {
    font-size: 80px;
    font-weight: 500;
    color: #FFF;
}

.hero-txt p {
    font-size: 30px;
    color: #FFF;
    padding: 20px 0;
}

/* QUEM SOMOS */

section.quem-somos {
    padding: 150px 4%;
}

section.quem-somos .flex {
    justify-content: center;
    column-gap: 20px;
}

.txts-container {
    width: 50%;
}

.txts-container  .titulo-quem-somos h2 {
    font-size: 40px;
    font-family: var(--fonte-conteudo);
    line-height: 50px;
    color: #1E293B;
}

.txts-container  .desc-quem-somos p {
    font-size: 18px;
    color: var(--preto02);
    line-height: 30px;
    padding-top: 10px;
}

.img-quem-somos img {
    width: 500px;
    border-radius: 20px;
}

/* COMODIDADE */

section.comodidade {
    padding: 50px 4%;
}

section.comodidade .flex {
    justify-content: center;
    align-items: center;
}

.titulo-comodidade h2 {
    text-align: center;
    font-size: 30px;
    font-family: var(--fonte-conteudo);
    color: #1E293B;
    padding-bottom: 20px;
}

.comodidades.flex {
    column-gap: 100px;
}

.comodidade-container .comodidades {
    font-size: 20px;
    font-family: var(--fonte-conteudo);
    color: var(--preto02);
}

.comodidades i {
    padding: 0 15px;
    font-size: 30px;
    color: var(--laranja02);
}

/* RECOMENDADO */

section.recomendado {
    padding: 80px 4% 200px 4%;
}

section.recomendado .flex {
    justify-content: center;
    align-items: center;
}

.titulo-recomendado h2 {
    text-align: center;
    font-size: 30px;
    font-family: var(--fonte-conteudo);
    color: #1E293B;
    padding-bottom: 40px;
}

.recomendacoes.flex {
    column-gap: 170px;
}

/* ESTILO FOOTER 1 */

footer.footer1 {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 400px 4%;
    height: 800px;
    background: url('../assets/imgs/07/pizzaria-hero-fundo02.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

footer.footer1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.863);
    z-index: 0;
}

footer.footer1 .flex {
    flex-direction: column;
}

.footer1 i {
    color: var(--laranja02);
    font-size: 60px;
    padding-bottom: 40px;
}

.footer1 h3 {
    font-family: var(--fonte-destaque);
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #FFF;
}

.footer1 p {
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    color: #FFF;
}

/* ESTILO FOOTER 2 */

footer.footer2 {
    padding: 20px 4%;
    text-align: center;
    background-color: var(--preto02);
    font-weight: 400;
    font-size: 18px;
    color: #FFF;
}

footer.footer2 a {
    text-decoration: underline;
    }